/* src/Assets/Css/Details.css */
:root {
  --primary-color: #007bff;
  --background-color: #ffffff;
  --text-color: #333333;
  --button-bg-color: #007bff;
  --button-hover-bg-color: #0056b3;
  --card-background-color: #ffffff;
  --card-border-color: #ddd;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --primary-color: #007bff;
  --background-color: #333333;
  --text-color: #f9f9f9;
  --button-bg-color: #007bff;
  --button-hover-bg-color: #0056b3;
  --card-background-color: #444444;
  --card-border-color: #555555;
  --box-shadow-color: rgba(0, 0, 0, 0.5);
}

.cards-container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--background-color);
}

.card-d {
  border: 1px solid var(--card-border-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--box-shadow-color);
  padding: 1.5rem;
  background-color: var(--card-background-color);
  width: 300px;
  text-align: center;
  flex-grow: 1;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.card-icon {
  font-size: 2rem;
  color: var(--primary-color);
}

.card-d h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.card-d p {
  font-size: 1rem;
  color: var(--text-color);
  margin: 1rem 0;
}

.card-d button {
  background-color: var(--button-bg-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.card-d button:hover {
  background-color: var(--button-hover-bg-color);
}
