
.dashboard-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30rem;
} 



/* General Styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Main Layout */
main {
  display: flex;
  height: 100vh;
}

/* Navigation Menu */
.main-menu {
  width: 250px;
  background-color: #007bff; /* Primary color */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.main-menu h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.main-menu .logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.main-menu .nav-item {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  transition: background-color 0.3s;
}

.main-menu .nav-item.active,
.main-menu .nav-item:hover {
  background-color: #0056b3; /* Darker shade of primary color */
}

.main-menu .nav-item a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

.main-menu .nav-item .nav-icon {
  margin-right: 10px;
}

/* Right Content */
.right-content {
  flex-grow: 1;
  background-color: #f8f9fa; /* Light background */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-content .user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}

.right-content .user-info .icon-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.right-content .user-info .icon-container .nav-icon {
  font-size: 20px;
  color: #333; /* Text color */
  margin-left: 10px;
}

.right-content .user-info h4 {
  margin: 0;
  font-size: 18px;
  color: #333; /* Text color */
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-menu {
    width: 200px;
  }
  
  .main-menu h1 {
    font-size: 20px;
  }

  .main-menu .logo {
    width: 80px;
  }
}
