.userdashboard, .userdashboard html, .userdashboard body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

.userdashboard .main-menu {
  width: 250px;
  background-color: #333; /* Dark sidebar background */
  color: #ffffff; /* Light text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: fixed;
  top: 80px; 
  bottom: 0;
  overflow-y: auto;
}

.userdashboard .main-menu ul {
  list-style: none;
  width: 100%;
}

.userdashboard .main-menu .nav-item {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  transition: background-color 0.3s;
}

.userdashboard .main-menu .nav-item.active,
.userdashboard .main-menu .nav-item:hover {
  background-color: #444; /* Slightly lighter shade for active/hover state */
}

.userdashboard .main-menu .nav-item a {
  display: block;
  padding: 20px;
  color: #fff; /* Light text color */
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s; /* Smooth transition */
}

.userdashboard .main-menu .nav-item .nav-icon {
  margin-right: 10px;
}

.userdashboard .right-content {
  flex-grow: 1;
  background-color: #ffffff; /* Light background */
  padding-top: 10px;
  overflow-y: auto;
  margin-left: 250px; /* Adjust for sidebar width */
}

.userdashboard .right-content .user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}

.userdashboard .right-content .user-info .icon-container {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.userdashboard .right-content .user-info .icon-container .nav-icon {
  font-size: 20px;
  color: #333; /* Text color */
  margin-left: 10px;
}

.userdashboard .right-content .user-info h4 {
  margin: 0;
  font-size: 18px;
  color: #333; /* Text color */
}

.userdashboard .dashboard-content {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .userdashboard .main-menu {
    width: 200px;
  }

  .userdashboard .right-content {
    margin-left: 200px; /* Adjust for sidebar width */
  }

  .userdashboard .main-menu h1 {
    font-size: 20px;
  }

  .userdashboard .main-menu .logo {
    width: 80px;
  }
}
